# List Defination
- insert, append
- pop, del, remove
- "+" concatination
- slicing

In [16]:
cities = ['Karachi','Islamabad','Juddo','Dharki','Hyderbad']
cities

['Karachi', 'Islamabad', 'Juddo', 'Dharki', 'Hyderbad']

In [17]:
cities.insert(0,'Kunri')
cities

['Kunri', 'Karachi', 'Islamabad', 'Juddo', 'Dharki', 'Hyderbad']

In [18]:
cities.insert(3,'Kunri')
cities

['Kunri', 'Karachi', 'Islamabad', 'Kunri', 'Juddo', 'Dharki', 'Hyderbad']

In [19]:
cities.append('Quetta')
cities

['Kunri',
 'Karachi',
 'Islamabad',
 'Kunri',
 'Juddo',
 'Dharki',
 'Hyderbad',
 'Quetta']

In [14]:
city = cities.pop(3)
city

'Kunri'

In [20]:
cities

['Kunri',
 'Karachi',
 'Islamabad',
 'Kunri',
 'Juddo',
 'Dharki',
 'Hyderbad',
 'Quetta']

In [21]:
city

'Kunri'

In [22]:
del city

In [23]:
city

NameError: name 'city' is not defined

In [27]:
city = ['pk','kunri']
city

['pk', 'kunri']

In [28]:
del city[0]

In [29]:
city

['kunri']

In [31]:
cities.remove('Kunri')
cities

['Karachi', 'Islamabad', 'Kunri', 'Juddo', 'Dharki', 'Hyderbad', 'Quetta']

In [33]:
cities[-3]

'Dharki'

In [36]:
cities.reverse()
cities

['Karachi', 'Islamabad', 'Kunri', 'Juddo', 'Dharki', 'Hyderbad', 'Quetta']

In [46]:
cities.sort()

In [47]:
cities

['Dharki', 'Hyderbad', 'Islamabad', 'Juddo', 'Karachi', 'Kunri', 'Quetta']

In [48]:
cities.sort(reverse=True)
cities

['Quetta', 'Kunri', 'Karachi', 'Juddo', 'Islamabad', 'Hyderbad', 'Dharki']

In [49]:
cities

['Quetta', 'Kunri', 'Karachi', 'Juddo', 'Islamabad', 'Hyderbad', 'Dharki']

In [50]:
cities = cities + ['Sialkot','Faisalabad','Pano Aqil']

In [51]:
cities

['Quetta',
 'Kunri',
 'Karachi',
 'Juddo',
 'Islamabad',
 'Hyderbad',
 'Dharki',
 'Sialkot',
 'Faisalabad',
 'Pano Aqil']

In [52]:
cities = ['Sialkot','Faisalabad','Pano Aqil'] + cities

In [53]:
cities

['Sialkot',
 'Faisalabad',
 'Pano Aqil',
 'Quetta',
 'Kunri',
 'Karachi',
 'Juddo',
 'Islamabad',
 'Hyderbad',
 'Dharki',
 'Sialkot',
 'Faisalabad',
 'Pano Aqil']

In [60]:
del cities[-1]

In [61]:
cities

['Sialkot',
 'Faisalabad',
 'Pano Aqil',
 'Quetta',
 'Kunri',
 'Karachi',
 'Juddo',
 'Islamabad',
 'Hyderbad',
 'Dharki']

In [62]:
city

['kunri']

In [65]:
city = city + ['pk']

In [66]:
city

['kunri', 'pk']

In [67]:
city.append('in')

In [68]:
city

['kunri', 'pk', 'in']

In [76]:
city.clear()

In [77]:
city

[]

In [80]:
city.extend(['kunri', 'pk', 'in'])

In [81]:
city

['kunri', 'pk', 'in', 'kunri', 'pk', 'in']

In [83]:
city.append(['pk', 'in'])

In [84]:
city

['kunri', 'pk', 'in', 'kunri', 'pk', 'in', ['pk', 'in']]

In [88]:
del city[-1]

In [89]:
city

['kunri', 'pk', 'in', 'kunri', 'pk']

In [92]:
city.extend(['kunri','pk','in'])

In [93]:
city

['kunri', 'pk', 'in', 'kunri', 'pk', 'i', 'n', 'kunri', 'pk', 'in']

In [94]:
city.extend('abc')

In [102]:
del city[-5]
city

['kunri', 'pk', 'in', 'kunri', 'pk', 'kunri', 'pk', 'in']

In [104]:
city.insert(1,'in')
city

['kunri', 'in', 'pk', 'in', 'kunri', 'pk', 'in', 'kunri', 'pk', 'in']

In [105]:
city.remove('in')
city

['kunri', 'pk', 'in', 'kunri', 'pk', 'in', 'kunri', 'pk', 'in']

In [107]:
print?

In [108]:
print??

In [110]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [111]:
nlist=["Dubuque", "New Orleans"]
city = city + nlist
city

['kunri',
 'pk',
 'in',
 'kunri',
 'pk',
 'in',
 'kunri',
 'pk',
 'in',
 'Dubuque',
 'New Orleans']

In [112]:
print(cities[0])
print(cities[1])
print(cities[2])

Sialkot
Faisalabad
Pano Aqil

# Slicing
- list[start:end:step]
- start (inclusive)
- end (exclusive)
- step (number of element which we will take)
- list[slide,rows,columns] (we will cover from next book)

In [114]:
cities

['Sialkot',
 'Faisalabad',
 'Pano Aqil',
 'Quetta',
 'Kunri',
 'Karachi',
 'Juddo',
 'Islamabad',
 'Hyderbad',
 'Dharki']

In [121]:
for i in range(-4,4):
    print(cities[i])

Juddo
Islamabad
Hyderbad
Dharki
Sialkot
Faisalabad
Pano Aqil
Quetta

In [124]:
L = list(range(1,501))

In [127]:
L[10:15]

[11, 12, 13, 14, 15]

In [128]:
cities

['Sialkot',
 'Faisalabad',
 'Pano Aqil',
 'Quetta',
 'Kunri',
 'Karachi',
 'Juddo',
 'Islamabad',
 'Hyderbad',
 'Dharki']

In [129]:
cities[0:8:2]

['Sialkot', 'Pano Aqil', 'Kunri', 'Juddo']

In [135]:
cities[0:8]

['Sialkot',
 'Faisalabad',
 'Pano Aqil',
 'Quetta',
 'Kunri',
 'Karachi',
 'Juddo',
 'Islamabad']

In [131]:
cities[2:6]

['Pano Aqil', 'Quetta', 'Kunri', 'Karachi']

In [137]:
cities[2:10:3]

['Pano Aqil', 'Karachi', 'Hyderbad']

In [143]:
print(L[1:21:2])

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [141]:
L[2:31:3]

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [142]:
L[3:41:4]

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]

In [144]:
print(L[1:21:2])
print(L[2:31:3])
print(L[3:41:4])
print(L[4:51:5])
print(L[5:61:6])
print(L[6:71:7])
print(L[7:81:8])
print(L[8:91:9])
print(L[9:101:10])
print(L[10:111:11])
print(L[11:121:12])
print(L[12:131:13])
print(L[13:141:14])
print(L[14:151:15])
print(L[15:161:16])
print(L[16:171:17])
print(L[17:181:18])
print(L[18:191:19])
print(L[19:201:20])
print(L[20:211:21])
print(L[21:221:22])
print(L[22:231:23])
print(L[23:241:24])
print(L[24:251:25])

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
[6, 12, 18, 24, 30, 36, 42, 48, 54, 60]
[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]
[8, 16, 24, 32, 40, 48, 56, 64, 72, 80]
[9, 18, 27, 36, 45, 54, 63, 72, 81, 90]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
[11, 22, 33, 44, 55, 66, 77, 88, 99, 110]
[12, 24, 36, 48, 60, 72, 84, 96, 108, 120]
[13, 26, 39, 52, 65, 78, 91, 104, 117, 130]
[14, 28, 42, 56, 70, 84, 98, 112, 126, 140]
[15, 30, 45, 60, 75, 90, 105, 120, 135, 150]
[16, 32, 48, 64, 80, 96, 112, 128, 144, 160]
[17, 34, 51, 68, 85, 102, 119, 136, 153, 170]
[18, 36, 54, 72, 90, 108, 126, 144, 162, 180]
[19, 38, 57, 76, 95, 114, 133, 152, 171, 190]
[20, 40, 60, 80, 100, 120, 140, 160, 180, 200]
[21, 42, 63, 84, 105, 126, 147, 168, 189, 210]
[22, 44, 66, 88, 110, 132, 154, 176, 198, 220]
[23, 46, 69, 92, 115, 138, 161, 184, 207, 230]
[24, 48, 72, 96, 120, 144, 168, 192, 216, 240]
[25, 50, 75, 100, 125, 150, 175, 200, 225, 250]

In [148]:
L[::50]

[1, 51, 101, 151, 201, 251, 301, 351, 401, 451]

In [149]:
L[::-50]

[500, 450, 400, 350, 300, 250, 200, 150, 100, 50]

In [151]:
print(sorted(L[::-50]))

[50, 100, 150, 200, 250, 300, 350, 400, 450, 500]

In [157]:
L[39:401:40]

[40, 80, 120, 160, 200, 240, 280, 320, 360, 400]

In [166]:
L[501:48:-50]

[500, 450, 400, 350, 300, 250, 200, 150, 100, 50]

In [167]:
names = ['Qasim', 'Imran Khan', 'Owais', 'Hamza', 'Junaid', 'Konain', 'Ali']

In [168]:
select_students=[]

In [169]:
select_students.append(names.pop(3))
names

['Qasim', 'Imran Khan', 'Owais', 'Junaid', 'Konain', 'Ali']

In [170]:
select_students

['Hamza']

In [171]:
select_students.append(names.pop())
names

['Qasim', 'Imran Khan', 'Owais', 'Junaid', 'Konain']

In [172]:
select_students

['Hamza', 'Ali']

In [173]:
names[0]=names[1]=names[3]="Pakistan zinda bad"
names

['Pakistan zinda bad',
 'Pakistan zinda bad',
 'Owais',
 'Pakistan zinda bad',
 'Konain']

In [174]:
len(cities)

10

In [175]:
cities

['Sialkot',
 'Faisalabad',
 'Pano Aqil',
 'Quetta',
 'Kunri',
 'Karachi',
 'Juddo',
 'Islamabad',
 'Hyderbad',
 'Dharki']

In [176]:
names.count('Pakistan zinda bad')

3

In [177]:
abc = names.copy()

In [178]:
abc

['Pakistan zinda bad',
 'Pakistan zinda bad',
 'Owais',
 'Pakistan zinda bad',
 'Konain']

In [184]:
names.index('Pakistan zinda bad',3)

3

In [185]:
names = names + cities

In [187]:
names = cities + names

In [188]:
names

['Sialkot',
 'Faisalabad',
 'Pano Aqil',
 'Quetta',
 'Kunri',
 'Karachi',
 'Juddo',
 'Islamabad',
 'Hyderbad',
 'Dharki',
 'Pakistan zinda bad',
 'Pakistan zinda bad',
 'Owais',
 'Pakistan zinda bad',
 'Konain',
 'Sialkot',
 'Faisalabad',
 'Pano Aqil',
 'Quetta',
 'Kunri',
 'Karachi',
 'Juddo',
 'Islamabad',
 'Hyderbad',
 'Dharki']

In [198]:
names.index('Pakistan zinda bad',12)

13

In [199]:
names

['Sialkot',
 'Faisalabad',
 'Pano Aqil',
 'Quetta',
 'Kunri',
 'Karachi',
 'Juddo',
 'Islamabad',
 'Hyderbad',
 'Dharki',
 'Pakistan zinda bad',
 'Pakistan zinda bad',
 'Owais',
 'Pakistan zinda bad',
 'Konain',
 'Sialkot',
 'Faisalabad',
 'Pano Aqil',
 'Quetta',
 'Kunri',
 'Karachi',
 'Juddo',
 'Islamabad',
 'Hyderbad',
 'Dharki']

In [200]:
names.reverse()
names

['Dharki',
 'Hyderbad',
 'Islamabad',
 'Juddo',
 'Karachi',
 'Kunri',
 'Quetta',
 'Pano Aqil',
 'Faisalabad',
 'Sialkot',
 'Konain',
 'Pakistan zinda bad',
 'Owais',
 'Pakistan zinda bad',
 'Pakistan zinda bad',
 'Dharki',
 'Hyderbad',
 'Islamabad',
 'Juddo',
 'Karachi',
 'Kunri',
 'Quetta',
 'Pano Aqil',
 'Faisalabad',
 'Sialkot']

In [201]:
names.sort()
names

['Dharki',
 'Dharki',
 'Faisalabad',
 'Faisalabad',
 'Hyderbad',
 'Hyderbad',
 'Islamabad',
 'Islamabad',
 'Juddo',
 'Juddo',
 'Karachi',
 'Karachi',
 'Konain',
 'Kunri',
 'Kunri',
 'Owais',
 'Pakistan zinda bad',
 'Pakistan zinda bad',
 'Pakistan zinda bad',
 'Pano Aqil',
 'Pano Aqil',
 'Quetta',
 'Quetta',
 'Sialkot',
 'Sialkot']

In [203]:
L.sort(reverse = True)

In [207]:
L[0::50]

[500, 450, 400, 350, 300, 250, 200, 150, 100, 50]

In [209]:
sorted(L)

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500]