In [1]:
5==5

True

In [3]:
5==4

False

In [4]:
4<=5

True

In [5]:
4<=3

False

In [ ]:
if Logic_testing:
    Value_is_TRUE
else:
    Value_is_FALSE

In [8]:
if True:
    print("Pakistan")
else:
    print("India")

Pakistan

In [9]:
if False:
    print("Pakistan")
else:
    print("India")

India

In [10]:
print("Pakistan") if True else print("India")

Pakistan

In [11]:
day = 14
if day==14:
    print("Pakistan")
else:
    print("India")

Pakistan

In [13]:
species = "CAT"
if species=="CAT":
 print("Spicies is CAT")

Spicies is CAT

In [14]:
if 2+2==4:
    print("Everything Make Sense")

Everything Make Sense

In [15]:
no_of_wifes = 1
if no_of_wifes==1:
    print("Good")
    print("everything")

Good
everything

In [18]:
per = 70

In [19]:
if per >=80:
    print("A+")
elif per>=70:
    print("A")
elif per>=60:
    print("B")
else:
    print("Fail")

A

In [22]:
l = list(range(1,101))
l

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]