# Dictionary like list
- key
- value

In [1]:
lis = ['Manoj','Pawan','Ramesh']
lis

['Manoj', 'Pawan', 'Ramesh']

In [2]:
lis

['Manoj', 'Pawan', 'Ramesh']

In [3]:
lis[0]

'Manoj'

In [4]:
lis[2]

'Ramesh'

In [16]:
stuinfo = {"Name":"Manoj","Gender":"Male","Class":"CS1","Roll No.":9,"addr":"C-39, Wajid Square","subject":["ITC","PF","BE","PSI"]}

In [7]:
stuinfo

{'Name': 'Manoj',
 'Gender': 'Male',
 'Class': 'CS1',
 'Roll No.': 9,
 'addr': 'C-39, Wajid Square',
 'subject': ['ITC', 'PF', 'BE', 'PSI']}

In [9]:
stuinfo["Name"]

'Manoj'

In [10]:
stuinfo["subject"]

['ITC', 'PF', 'BE', 'PSI']

In [18]:
stuinfo["Roll No."]

9

In [14]:
print(stuinfo["Name"])
print(stuinfo["Gender"])
print(stuinfo["Class"])
print(stuinfo["Roll No."])
print(stuinfo["addr"])
print(stuinfo["subject"])

Manoj
Male
CS1
9
C-39, Wajid Square
['ITC', 'PF', 'BE', 'PSI']

In [16]:
for each_value in stuinfo.values():
    print(each_value)

Manoj
Male
CS1
9
C-39, Wajid Square
['ITC', 'PF', 'BE', 'PSI']

In [30]:
stuinfo["subject"]

['ITC', 'PF', 'BE', 'PSI']

In [17]:
stuinfo

{'Name': 'Manoj',
 'Gender': 'Male',
 'Class': 'CS1',
 'Roll No.': 9,
 'addr': 'C-39, Wajid Square',
 'subject': ['ITC', 'PF', 'BE', 'PSI']}

In [19]:
for each_key, each_value in stuinfo.items():
    print(each_key,": ",each_value)

Name :  Manoj
Gender :  Male
Class :  CS1
Roll No. :  9
addr :  C-39, Wajid Square
subject :  ['ITC', 'PF', 'BE', 'PSI']

In [31]:
len(stuinfo)

6

In [33]:
type(stuinfo["subject"])

list

In [5]:
abc = input()
if abc in stuinfo.values():
    print("My Name is Manoj")
else:
    print("Nothing")

Manoj
My Name is Manoj

In [14]:
abc = input()
if abc in stuinfo.values():
    print("My Name is Manoj")
elif abc == "Pawan":
    print("My Name is Pawan")
elif abc == "Ramesh":
    print("My Name is Ramesh")
else:
    print("Nothing")

Saveeta
Nothing

In [13]:
5==5

True

In [2]:
5<=3

False