# LIST
- list defination
- insert, append
- pop, del, remove
- "+" concatination
- slicing

In [2]:
Names = ['Manoj','Ramesh','Pawan','Kabeer','Bhavesh']

In [3]:
names

NameError: name 'names' is not defined

In [4]:
Names

['Manoj', 'Ramesh', 'Pawan', 'Kabeer', 'Bhavesh']

In [5]:
Names[3]

'Kabeer'

In [6]:
Names[-3]

'Pawan'

In [7]:
Names.append('Ravi')

In [8]:
Names

['Manoj', 'Ramesh', 'Pawan', 'Kabeer', 'Bhavesh', 'Ravi']

In [9]:
del Names[7]
Names

IndexError: list assignment index out of range

In [10]:
Names.remove('Manoj')
Names

['Ramesh', 'Pawan', 'Kabeer', 'Bhavesh', 'Ravi']

In [11]:
type(Names)

list

In [12]:
Names

['Ramesh', 'Pawan', 'Kabeer', 'Bhavesh', 'Ravi']

In [13]:
Names = ["Manoj"] + Names
Names

['Manoj', 'Ramesh', 'Pawan', 'Kabeer', 'Bhavesh', 'Ravi']

In [14]:
Names.remove('Manoj')
Names

['Ramesh', 'Pawan', 'Kabeer', 'Bhavesh', 'Ravi']

In [15]:
del Names[7]

IndexError: list assignment index out of range

In [16]:
Names

['Ramesh', 'Pawan', 'Kabeer', 'Bhavesh', 'Ravi']

In [17]:
Names.extend(['Simran','Arshika','Sonakashi'])

In [18]:
Names

['Ramesh',
 'Pawan',
 'Kabeer',
 'Bhavesh',
 'Ravi',
 'Simran',
 'Arshika',
 'Sonakashi']

In [19]:
Names[5]

'Simran'

In [20]:
Names.insert(1,'Sangeeta')
Names

['Ramesh',
 'Sangeeta',
 'Pawan',
 'Kabeer',
 'Bhavesh',
 'Ravi',
 'Simran',
 'Arshika',
 'Sonakashi']

In [21]:
Names

['Ramesh',
 'Sangeeta',
 'Pawan',
 'Kabeer',
 'Bhavesh',
 'Ravi',
 'Simran',
 'Arshika',
 'Sonakashi']

In [ ]:
Names.