# Function
- Pre Define Functions
- User Define Functions

# Funtion Sub Types
- Return
- Non Return
- Required Arguments
- Optional Arguments
- Default Funtion

In [2]:
def Teacherinfo():
    print("University Name: SMIU")
    print("My Name is Manoj Khiani")
    print("Education: MSCS")
    print("Nationality: Pakistani")
Teacherinfo()

University Name: SMIU
My Name is Manoj Khiani
Education: MSCS
Nationality: Pakistani

In [4]:
%%time Teacherinfo()

UsageError: %%time is a cell magic, but the cell body is empty. Did you mean the line magic %time (single %)?

In [5]:
%time Teacherinfo()

University Name: SMIU
My Name is Manoj Khiani
Education: MSCS
Nationality: Pakistani
Wall time: 0 ns

In [6]:
x = Teacherinfo()
print(x)

University Name: SMIU
My Name is Manoj Khiani
Education: MSCS
Nationality: Pakistani
None

In [8]:
def abc():
    return("Pakistan \nWe are Pakistani.\nWe love our Country.")
x=abc()
print(x)

Pakistan
We are Pakistani.
We love our Country.

In [9]:
def Teacherinfo():
    print("University Name: SMIU")
    print("My Name is Manoj Khiani")
    print("Education: MSCS")
    print("Nationality: Pakistani")
    return("Pakistan \nWe are Pakistani.\nWe love our Country.")
Teacherinfo()

University Name: SMIU
My Name is Manoj Khiani
Education: MSCS
Nationality: Pakistani

'Pakistan \nWe are Pakistani.\nWe love our Country.'

In [11]:
uni = "SMIU" #Global
def fullname():
    fname="Manoj"
    lname="Khiani"
    print(fname,lname,uni)

fullname()

Manoj Khiani SMIU

In [13]:
print(fullname())
print(uni)

Manoj Khiani SMIU
None
SMIU

In [15]:
def Teacher(name, education, nationality):
    # name = input()
    # education = input()
    # nationality = input()
    print("My Name is",name )
    print("Education:",education)
    print("Nationality:",nationality)

Teacher(input(),input(),input())

Manoj
MSCS
Pakistani
My Name is Manoj
Education: MSCS
Nationality: Pakistani

In [16]:
def abc():
    return 'a','b','c'
x,y,z=abc()
print(x,y,z)

a b c

In [17]:
def abc():
    return 'a','b','c'
x,y,z=abc()

In [19]:
abc()

('a', 'b', 'c')

In [20]:
l=[1,2,3]
def aa():
    l[0]='abc'
aa()

In [21]:
l

['abc', 2, 3]

In [22]:
stuinfo = {"Name":"Manoj","Gender":"Male","Class":"CS1","Roll No.":9,"addr":"C-39, Wajid Square","subject":["ITC","PF","BE","PSI"]}

In [25]:
bio = {"Name":"Manoj Khiani.","age":37,"education":"MSCS"}

def myinfo(Name,age,education):
    print("My Name is",Name,"My age is",age,"My Education",education)

myinfo(**bio)

My Name is Manoj Khiani. My age is 37 My Education MSCS

In [26]:
myinfo(*bio)

My Name is Name My age is age My Education education

In [29]:
def xyz():
    pass

xyz()

In [30]:
# While Loop
i=5
while(i<=10):
    print("Pakistan Zindabad",i)
    i+=1

Pakistan Zindabad 5
Pakistan Zindabad 6
Pakistan Zindabad 7
Pakistan Zindabad 8
Pakistan Zindabad 9
Pakistan Zindabad 10

In [31]:
for i in list(range(10)):
    print("Pakistan Zindabad",i)

Pakistan Zindabad 0
Pakistan Zindabad 1
Pakistan Zindabad 2
Pakistan Zindabad 3
Pakistan Zindabad 4
Pakistan Zindabad 5
Pakistan Zindabad 6
Pakistan Zindabad 7
Pakistan Zindabad 8
Pakistan Zindabad 9

In [35]:
for i in list(range(5,11)):
    print("Pakistan Zindabad",i)
    if i==8:
        break

Pakistan Zindabad 5
Pakistan Zindabad 6
Pakistan Zindabad 7
Pakistan Zindabad 8

In [36]:
for i in list(range(5,11)):
    print("Pakistan Zindabad",i)
    if i==8:
        break

Pakistan Zindabad 5
Pakistan Zindabad 6
Pakistan Zindabad 7
Pakistan Zindabad 8
Pakistan Zindabad 9
Pakistan Zindabad 10

In [37]:
for i in list(range(5,11)):
    print("Pakistan Zindabad",i)
    if i==8:
        pass

Pakistan Zindabad 5
Pakistan Zindabad 6
Pakistan Zindabad 7
Pakistan Zindabad 8
Pakistan Zindabad 9
Pakistan Zindabad 10

In [39]:
for i in list(range(0,11)):
    print("Pakistan Zindabad",i)
    if i==8:
        continue

Pakistan Zindabad 0
Pakistan Zindabad 1
Pakistan Zindabad 2
Pakistan Zindabad 3
Pakistan Zindabad 4
Pakistan Zindabad 5
Pakistan Zindabad 6
Pakistan Zindabad 7
Pakistan Zindabad 8
Pakistan Zindabad 9
Pakistan Zindabad 10

In [45]:
def abc(**dic):
    for k,v in dic.items():
        print(k,v)
        
abc(Name="Manoj",Age=37)

Name Manoj
Age 37