# LIST
- list defination
- insert, append
- pop, del, remove
- "+" concatination
- slicing

In [2]:
Names = ['Manoj','Ramesh','Pawan','Kabeer','Bhavesh']

In [3]:
names

NameError: name 'names' is not defined

In [4]:
Names

['Manoj', 'Ramesh', 'Pawan', 'Kabeer', 'Bhavesh']

In [5]:
Names[3]

'Kabeer'

In [6]:
Names[-3]

'Pawan'

In [25]:
Names.append('Ravi')

In [27]:
Names.insert(0,'Manoj')

In [28]:
del Names[7]
Names

['Manoj',
 'Ramesh',
 'Sangeeta',
 'Pawan',
 'Kabeer',
 'Bhavesh',
 'Ravi',
 'Arshika',
 'Sonakashi',
 'Ravi']

In [29]:
Names.insert(7, 'Simran')
Names

['Manoj',
 'Ramesh',
 'Sangeeta',
 'Pawan',
 'Kabeer',
 'Bhavesh',
 'Ravi',
 'Simran',
 'Arshika',
 'Sonakashi',
 'Ravi']

In [11]:
type(Names)

list

In [31]:
Names.pop(-1)
Names

['Manoj',
 'Ramesh',
 'Sangeeta',
 'Pawan',
 'Kabeer',
 'Bhavesh',
 'Ravi',
 'Simran',
 'Arshika',
 'Sonakashi']

In [32]:
Names = ["Manoj"] + Names
Names

['Manoj',
 'Manoj',
 'Ramesh',
 'Sangeeta',
 'Pawan',
 'Kabeer',
 'Bhavesh',
 'Ravi',
 'Simran',
 'Arshika',
 'Sonakashi']

In [33]:
Names.remove('Manoj')
Names

['Manoj',
 'Ramesh',
 'Sangeeta',
 'Pawan',
 'Kabeer',
 'Bhavesh',
 'Ravi',
 'Simran',
 'Arshika',
 'Sonakashi']

In [38]:
Names.append(['Simran','Arshika','Sonakashi'])

In [39]:
Names

['Manoj',
 'Ramesh',
 'Sangeeta',
 'Pawan',
 'Kabeer',
 'Bhavesh',
 'Ravi',
 'Simran',
 'Arshika',
 'Sonakashi',
 ['Simran', 'Arshika', 'Sonakashi']]

In [40]:
Names.pop(-1)

['Simran', 'Arshika', 'Sonakashi']

In [47]:
Names = ['Manoj',
 'Ramesh',
 'Sangeeta',
 'Pawan',
 'Kabeer',
 'Bhavesh',
 'Ravi',
 'Simran',
 'Arshika',
 'Sonakashi']

In [48]:
Names.insert(3,'Khiani')
Names

['Manoj',
 'Ramesh',
 'Sangeeta',
 'Khiani',
 'Pawan',
 'Kabeer',
 'Bhavesh',
 'Ravi',
 'Simran',
 'Arshika',
 'Sonakashi']

In [49]:
NewN = Names.pop()

In [50]:
Names

['Manoj',
 'Ramesh',
 'Sangeeta',
 'Khiani',
 'Pawan',
 'Kabeer',
 'Bhavesh',
 'Ravi',
 'Simran',
 'Arshika']

In [51]:
NewN

'Sonakashi'

In [53]:
type(NewN)

str

In [56]:
Names.extend(NewN)

In [57]:
Names

['Manoj',
 'Ramesh',
 'Sangeeta',
 'Khiani',
 'Pawan',
 'Kabeer',
 'Bhavesh',
 'Ravi',
 'Simran',
 'Arshika',
 'Sonakashi',
 'S',
 'o',
 'n',
 'a',
 'k',
 'a',
 's',
 'h',
 'i']