In [11]:
Name = "Manoj"
range(10)

range(0, 10)

In [12]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
def fn1(str1,n):
    for i in range(n):
        print(str1)
    
fn1("Manoj",5)

Manoj
Manoj
Manoj
Manoj
Manoj

In [1]:
range(0,10)

range(0, 10)

In [10]:
def say_names_of_couple(husband_name, wife_name):
    print("The names of the couple are " + husband_name + " and " + wife_name)

In [11]:
say_names_of_couple("Manoj","Sangeeta")

The names of the couple are Manoj and Sangeeta

In [12]:
say_names_of_couple("Sangeeta","Manoj")

The names of the couple are Sangeeta and Manoj

In [13]:
say_names_of_couple(wife_name="Sangeeta",husband_name="Manoj")

The names of the couple are Manoj and Sangeeta